{% set title = 'Airgms slide' %}
{% extends 'tmp/_layout.html' %}
{% block content %}

  <div class="test-wrapper">
    {% include "tmp/components/jumbotron/jumbotron_v5.html" %}
    {% include "tmp/components/jumbotron/jumbotron.html" %}
    {% include "tmp/components/jumbotron/jumbotron_v1.html" %}
    {% include "tmp/components/jumbotron/jumbotron_v2.html" %}
    {% include "tmp/components/jumbotron/jumbotron_v3.html" %}
    {% include "tmp/components/jumbotron/jumbotron_v4.html" %}
  </div>

{% endblock %}
