<div class="jumbotron-slide slide">
  <article>
    <h2>Welcome to our list of happy customers with 3900 listings from 49 countries of the world.</h2>
    <ul>
      <li>Communicate	with	all	guests	in	a	Single	Inbox;</li>
      <li>Create	automatic	Airbnb	messages;</li>
      <li>Change	the	prices	for	all	your	Airbnb	in	Multi	calendar</li>
      <li>Invite	your	colleagues,	cleaners	and	support	staff</li>
      <li>Integrate	calendars	from	other	platforms</li>
    </ul>
  </article>
  <aside>
    <p class="lead">Follow	few	simple	steps	to	get	started!</p>
    <button class="primary" role="button">See	the	instructions</button>
    <button class="default" role="button">Skip</button>
    <div class="partners"></div>
  </aside>
</div>
